/* ========================grid============================= */
.form {
  margin-top: 8em;

  height: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(239, 205, 205);
}

.formbox {
  font-size: 30px;
  justify-content: center;
  display: flex;
}

.container {
  margin: 10em 20em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 4.6fr 0.9fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "one two three"
    "four four four"
    "five five five";
  width: 1500px;
  height: 720px;
  position: fixed;
}

.one {
  grid-area: one;
  width: 510px;
  /* height: 200px; */
}

.two {
  grid-area: two;
  width: 510px;
}

.three {
  grid-area: three;
  width: 510px;
}

.two,
.three {
  margin-left: -47em;
}
.one,
.two,
.three,
.four,
.five {
  background-color: aqua;
  height: 230px;
  position: relative;
}

.four {
  grid-area: four;
  width: 1570px;
  height: 450px;
}

.five {
  grid-area: five;
  width: 1570px;
  height: 20px;
}

/* ==========================circles======================== */

/* =====big circles========= */

.six {
  margin-top: 30px;
  margin-left: 270px;
  background-color: rgb(255, 251, 0);
}

.seven {
  margin-top: 180px;
  margin-left: 430px;
  background-color: rgb(255, 38, 0);
}

.six,
.seven {
  width: 70px;
  height: 70px;
  border: 30px solid #333;
  border-width: 2px;
  padding: 50px;
  border-radius: 50%;
  position: fixed;
}

/* =======small circles============ */

.eight {
  margin-top: 10px;
  margin-left: 50px;
}

.nine {
  margin-top: 150px;
  margin-left: 50px;
}

.ten {
  margin-top: 50px;
  margin-left: 600px;
}

.eight,
.nine,
.ten {
  width: 2px;
  height: 2px;
  border: 30px solid #333;
  border-width: 2px;
  padding: 25px;
  background-color: rgb(255, 38, 0);
  border-radius: 50%;
  position: absolute;
}

.eleven {
  background-color: rgb(255, 251, 0);
  margin-top: 350px;
  margin-left: 250px;
  width: 2px;
  height: 2px;
  border: 30px solid #333;
  border-width: 2px;
  padding: 25px;
  border-radius: 50%;
  position: absolute;
}

/* ==================triangles======================== */
.tone {
  width: 0;
  height: 0;

  border-left: 192px solid transparent;
  border-right: 192px solid transparent;
  border-bottom: 550px solid green;
  margin-top: -610px;
  z-index: 3;
  position: relative;
  margin-left: 55em;
}
.ttwo {
  width: 0;
  height: 0;
  border-left: 192px solid transparent;
  border-right: 192px solid transparent;
  border-bottom: 413px solid yellowgreen;
  margin-top: -472px;
  z-index: 3;
  position: relative;
  margin-left: -6em;
}
/* ============people============= */

/* ============body============= */
.body {
  width: 30;
  height: 30;
  border-color: blue;
  -webkit-clip-path: polygon(
    65% 0,
    100% 46%,
    100% 62%,
    68% 29%,
    38% 28%,
    0 63%,
    0 47%,
    41% 0
  );
  clip-path: polygon(
    65% 0,
    100% 46%,
    100% 62%,
    68% 29%,
    38% 28%,
    0 63%,
    0 47%,
    41% 0
  );
}

/* .box {
  width: 55%;
  height: 0;
  padding-bottom: calc(55% * 9 / 16);
  background: red;
  position: relative;
}
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; */

/* .people {
  margin-left: 2%;
  margin-right: 2%;

  height: 5%;
  z-index: 3;
  background-color: rgb(93, 0, 255);

  -webkit-clip-path: polygon(
    0 69%,
    0 82%,
    39% 63%,
    0 100%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 100%,
    60% 61%,
    100% 87%,
    100% 74%,
    37% 45%
  );
  clip-path: polygon(
    0 69%,
    0 82%,
    39% 63%,
    0 100%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 100%,
    60% 61%,
    100% 87%,
    100% 74%,
    37% 45%
  );
} */
