.container {
  margin: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 4.6fr 0.9fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "one two three"
    "four four four"
    "five five five";
  width: 1500px;
  height: 720px;
}

.one {
  grid-area: one;
  width: 510px;
  height: 150px;
}

.two {
  grid-area: two;
  width: 510px;
  height: 150px;
}

.three {
  grid-area: three;
  width: 510px;
  height: 150px;
}
.one,
.two,
.three,
.four,
.five {
  background-color: aqua;
}

.four {
  grid-area: four;
  width: 1570px;
  height: 510px;
}

.five {
  grid-area: five;
  width: 1570px;
  height: 20px;
}
